
.welcome
  .logo
    = image_tag 'jag.jpg'
  %h1 Hello Viktoria
  %p.doc
    = link_to 'Read Documentation Online', 'https://middlemanapp.com', target: '_blank'
.projects
  - data.projects.each do |project|
    %h4= project[:name]
    %p= project[:description]

.instagram
  = image_tag 'instagram.jpg'
.facebook
  = image_tag 'facebook.jpg'
.pintrest
  = image_tag 'pintrest.jpg'
.github
  = image_tag 'github.jpg'
.youtube
  = image_tag 'youtube.jpg'
